body {
    background-color: red;
}
header {
    display: flex;
    justify-content:  center;
}
h1 {
    font-family: 'Squada One', cursive;
}
.input-holder {
    display: flex;
    justify-content:  center;
}
#temperatureInput {
    margin-left: 1em;
}