body {
    background-color:white;
}
header {
    display: flex;
    justify-content:  center;
}
h1 {
    font-family: 'Squada One', cursive;
}
.input-holder {
    display: flex;
    justify-content:  center;
}
#temperatureInput {
    margin-left: 1em;
}
.button-selection {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  
   
}
.button-label {
    margin-right: 1em;
}
.myrbuttons {
    margin-right: 1em;
}
.c-button-wrapper {
    display: block;
}
.convert-button-wrapper {
    display: flex;
    justify-content: center;
}

#result {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}